.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  text-transform: uppercase;
  color: #f30072;
  font-weight: bold;
  font-family: 'Open Sans';
  font-size: 4.5rem;
  display: block;
}
.para {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 4.5rem;
}
.down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.svg {
  width: 50px;
  animation: downArrow 1.5s infinite;
}
@keyframes downArrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
