.about {
  width: 100%;
  margin-top: 60px;
}
.title {
  color: #212121;
  text-transform: uppercase;
  font-size: clamp(60px, 7vw, 200px);
  letter-spacing: 5px;
}
.text {
  text-transform: uppercase;
  margin: 20px 0 0 20px;
  display: inline-block;
}
